In [1]:
import pandas as pd

**Загрузка и преодобработка данных**

In [2]:
lessons = pd.read_csv('tech_quality/lessons.txt', sep='|')
lessons.info()
lessons.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 4 columns):
                  id                      380 non-null object
 event_id                                 378 non-null float64
 subject                                  378 non-null object
       scheduled_time                     378 non-null object
dtypes: float64(1), object(3)
memory usage: 12.0+ KB

,id,event_id,subject,scheduled_time
0,--------------------------------------+-------...,NaN,NaN,NaN
1,1e7bb408-cfef-4a9f-8328-351c9483a64c,38114.0,phys,2020-01-19 12:00:00
2,6d8e59d9-a7c8-4bb3-8ff3-99cd07acdf1a,51568.0,it,2020-01-19 13:00:00
3,62e1a078-33de-47c1-99d2-845b1daca56f,52790.0,hist,2020-01-19 13:00:00
4,00fc6685-f53a-49bb-b960-5e0042fd3852,51341.0,phys,2020-01-17 12:00:00

In [3]:
lessons = lessons.dropna().reset_index(drop=True)
lessons.columns = ['lesson_id', 'event_id', 'subject', 'scheduled_time']
lessons['event_id'] = lessons['event_id'].astype('int')
lessons['subject'] = lessons['subject'].str.replace(' ', '')
lessons['lesson_id'] = lessons['lesson_id'].str.replace(' ', '')
lessons['scheduled_time'] = pd.to_datetime(lessons['scheduled_time'])

In [4]:
quality = pd.read_csv('tech_quality/quality.txt', sep='|')
quality.info()
quality.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 2 columns):
              lesson_id                   367 non-null object
 tech_quality                             365 non-null object
dtypes: object(2)
memory usage: 5.8+ KB

                            lesson_id                 tech_quality
0  --------------------------------------+-------...            NaN
1              6d8e59d9-a7c8-4bb3-8ff3-99cd07acdf1a               5
2              62e1a078-33de-47c1-99d2-845b1daca56f               5
3              62e1a078-33de-47c1-99d2-845b1daca56f               5
4              00fc6685-f53a-49bb-b960-5e0042fd3852               5

In [5]:
quality.columns = ['lesson_id', 'tech_quality']
quality['tech_quality'].unique()
quality['lesson_id'] = quality['lesson_id'].str.replace(' ', '')
quality['tech_quality'] = quality['tech_quality'].str.replace(' ', '')
quality['tech_quality'] = pd.to_numeric(quality['tech_quality'], errors = 'coerce')
quality = quality.dropna().reset_index(drop=True)
quality['tech_quality'] = quality['tech_quality'].astype('int')
quality.head()

                              lesson_id  tech_quality
0  6d8e59d9-a7c8-4bb3-8ff3-99cd07acdf1a             5
1  62e1a078-33de-47c1-99d2-845b1daca56f             5
2  62e1a078-33de-47c1-99d2-845b1daca56f             5
3  00fc6685-f53a-49bb-b960-5e0042fd3852             5
4  00fc6685-f53a-49bb-b960-5e0042fd3852             5

In [6]:
participants = pd.read_csv('tech_quality/participants.txt', sep='|')
participants.info()
participants.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 745 entries, 0 to 744
Data columns (total 2 columns):
 event_id                                 745 non-null object
               user_id                    743 non-null object
dtypes: object(2)
memory usage: 11.7+ KB

,event_id,user_id
0,----------+--------------------------------------,NaN
1,38114,e28351f5-4ccb-4549-8647-d43f2b15e7b8
2,38114,4df2832a-1d63-4453-9659-43993fc35996
3,51568,bb1c0bc8-1212-452b-97a0-439d4a2169e2
4,51568,63441abe-c4da-4275-ba26-66f7dbd65dde

In [7]:
participants = participants.dropna().reset_index(drop=True)
participants.columns = ['event_id', 'user_id']
participants['user_id'] = participants['user_id'].str.replace(' ', '')
participants['event_id'] = participants['event_id'].astype('int')
participants.head()

   event_id                               user_id
0     38114  e28351f5-4ccb-4549-8647-d43f2b15e7b8
1     38114  4df2832a-1d63-4453-9659-43993fc35996
2     51568  bb1c0bc8-1212-452b-97a0-439d4a2169e2
3     51568  63441abe-c4da-4275-ba26-66f7dbd65dde
4     52790  a1323b68-c82c-429a-8e2c-65597e648c1a

In [8]:
users = pd.read_csv('tech_quality/users.txt', sep='|')
users.info()
users.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 745 entries, 0 to 744
Data columns (total 2 columns):
                  id                      745 non-null object
 role                                     743 non-null object
dtypes: object(2)
memory usage: 11.7+ KB

                       id                    role
740   ad7199dd-3bf6-4d6d-8ae7-448ecf90a4eb    tutor
741   d3364cf3-46cc-4e64-ad11-70a069f7c049    pupil
742   ad7199dd-3bf6-4d6d-8ae7-448ecf90a4eb    tutor
743   f76609c8-ba5d-4818-9b57-097debc90cab    pupil
744                              (743 rows)     NaN

In [9]:
users = users.dropna().reset_index(drop=True)
users.columns = ['id', 'role']
users['role'] = users['role'].str.replace(' ', '')
users['id'] = users['id'].str.replace(' ', '')
users.head()

                                     id   role
0  e28351f5-4ccb-4549-8647-d43f2b15e7b8  pupil
1  4df2832a-1d63-4453-9659-43993fc35996  tutor
2  bb1c0bc8-1212-452b-97a0-439d4a2169e2  pupil
3  63441abe-c4da-4275-ba26-66f7dbd65dde  tutor
4  a1323b68-c82c-429a-8e2c-65597e648c1a  tutor

**Отбор данных согласно условию задачи**

In [10]:
lessons_phys = lessons[lessons['subject'] == 'phys'].reset_index(drop=True)

In [11]:
lessons_phys['moscow_time'] = lessons_phys['scheduled_time'] + pd.Timedelta(hours=3)
lessons_phys['moscow_date'] = lessons_phys['moscow_time'].dt.date

In [12]:
lessons_phys.drop('scheduled_time', axis=1, inplace=True)

In [13]:
lessons_phys.head()

,lesson_id,event_id,subject,moscow_time,moscow_date
0,1e7bb408-cfef-4a9f-8328-351c9483a64c,38114,phys,2020-01-19 15:00:00,2020-01-19
1,00fc6685-f53a-49bb-b960-5e0042fd3852,51341,phys,2020-01-17 15:00:00,2020-01-17
2,4cadf623-82e6-422f-a342-acf978302fb2,55048,phys,2020-01-19 17:00:00,2020-01-19
3,e597a79a-3f68-4d15-bc77-c7000bcf8e52,53026,phys,2020-01-19 18:00:00,2020-01-19
4,ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17,51645,phys,2020-01-19 17:00:00,2020-01-19

In [14]:
lessons_phys['event_id'].nunique()

153

In [15]:
quality_phys = quality.merge(lessons_phys[['lesson_id', 'event_id', 'moscow_date']], how='right')

In [16]:
quality_phys.head()

                              lesson_id  tech_quality  event_id moscow_date
0  00fc6685-f53a-49bb-b960-5e0042fd3852           5.0     51341  2020-01-17
1  00fc6685-f53a-49bb-b960-5e0042fd3852           5.0     51341  2020-01-17
2  4cadf623-82e6-422f-a342-acf978302fb2           5.0     55048  2020-01-19
3  e597a79a-3f68-4d15-bc77-c7000bcf8e52           5.0     53026  2020-01-19
4  ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17           5.0     51645  2020-01-19

In [17]:
#Убедимся, что мы не потеряли ни одного урока
quality_phys['event_id'].nunique()

153

In [18]:
#посмотрим, есть ли уроки без оценок и удалим их
quality_phys['tech_quality'].isnull().sum()

61

In [19]:
quality_phys.dropna(inplace=True)

In [20]:
quality_phys['event_id'].nunique()

97

In [21]:
tutors = users[users['role'] == 'tutor']['id']
tutors.head()

1    4df2832a-1d63-4453-9659-43993fc35996
3    63441abe-c4da-4275-ba26-66f7dbd65dde
4    a1323b68-c82c-429a-8e2c-65597e648c1a
7    30a19496-bdaf-461c-abbc-2709ae520201
8    43efce48-94b2-4412-857f-223d45969008
Name: id, dtype: object

In [22]:
participants_tutors = participants[participants['user_id'].isin(tutors)]

In [23]:
#participants_tutors['event_id'] = participants_tutors['event_id'].astype('int')

In [24]:
#добавим учителей к каждому уроку
quality_phys = quality_phys.merge(participants_tutors, on='event_id')
quality_phys.head()

,lesson_id,tech_quality,event_id,moscow_date,user_id
0,00fc6685-f53a-49bb-b960-5e0042fd3852,5.0,51341,2020-01-17,30a19496-bdaf-461c-abbc-2709ae520201
1,00fc6685-f53a-49bb-b960-5e0042fd3852,5.0,51341,2020-01-17,30a19496-bdaf-461c-abbc-2709ae520201
2,4cadf623-82e6-422f-a342-acf978302fb2,5.0,55048,2020-01-19,43efce48-94b2-4412-857f-223d45969008
3,e597a79a-3f68-4d15-bc77-c7000bcf8e52,5.0,53026,2020-01-19,43efce48-94b2-4412-857f-223d45969008
4,ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17,5.0,51645,2020-01-19,8fe03f08-8581-430c-a590-9888ab36deb3

In [25]:
#убедимся, что количество уроков осталось прежним
quality_phys['event_id'].nunique()

97

In [30]:
tutors_marks = quality_phys.groupby(['user_id','moscow_date']).agg({'tech_quality':'mean'}).round(2).unstack().reset_index()
tutors_marks.columns = ['user_id', '2020-01-11', '2020-01-12', '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16', 
                        '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20']

In [31]:
tutors_marks

,user_id,2020-01-11,2020-01-12,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,2020-01-20
0,1c39e78f-6ded-4b2e-83d6-036ca34ecfdc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.00,NaN,NaN
1,2fa2ab62-f1b0-4036-872f-bcfd9a8686ff,5.00,5.00,5.0,5.0,NaN,4.0,NaN,5.00,NaN,5.00
2,30a19496-bdaf-461c-abbc-2709ae520201,5.00,NaN,5.0,NaN,NaN,5.0,5.00,5.00,NaN,4.67
3,43efce48-94b2-4412-857f-223d45969008,5.00,5.00,NaN,5.0,NaN,5.0,4.67,4.57,4.90,4.50
4,4df2832a-1d63-4453-9659-43993fc35996,NaN,5.00,NaN,5.0,NaN,5.0,5.00,5.00,5.00,NaN
5,603b8641-c6f6-4d89-ac89-88e50d45aa0d,4.88,NaN,NaN,NaN,5.0,NaN,NaN,4.60,NaN,NaN
6,696c838e-c054-4e9f-a51a-50bf5660f364,NaN,4.93,5.0,5.0,5.0,5.0,4.50,NaN,4.83,5.00
7,8fe03f08-8581-430c-a590-9888ab36deb3,4.33,5.00,NaN,NaN,NaN,NaN,NaN,5.00,5.00,NaN
8,9b26952c-3470-4032-a9cd-f1e9d4f90ece,NaN,NaN,NaN,5.0,5.0,NaN,5.00,5.00,NaN,NaN
9,b37ccae8-fc31-4ad8-8f55-ca855b23fbf6,5.00,5.00,5.0,5.0,5.0,5.0,5.00,5.00,NaN,5.00
10,be676776-8366-4c71-8a35-d58014806eb5,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,4.50,5.00
11,c0c073c8-cb9c-4ebc-ac13-472c06029591,5.00,NaN,NaN,NaN,NaN,NaN,NaN,5.00,NaN,NaN
12,c31d06f1-b667-489f-af70-d2c88402826c,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN
13,c6718d0e-976c-4d6c-b0e0-32c770776567,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
14,eb47bfc8-ff11-42cd-a48b-1c88aca067f7,NaN,NaN,NaN,NaN,NaN,NaN,5.00,NaN,NaN,NaN

In [65]:
for column in ['2020-01-11', '2020-01-12', '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16', 
                        '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20']:
    min_mark = tutors_marks[column].min()
    min_mark_user = tutors_marks[tutors_marks[column] == min_mark]['user_id'].min()
    print(column,':', min_mark_user, ':', min_mark)

2020-01-11 : 8fe03f08-8581-430c-a590-9888ab36deb3 : 4.33
2020-01-12 : 696c838e-c054-4e9f-a51a-50bf5660f364 : 4.93
2020-01-13 : 2fa2ab62-f1b0-4036-872f-bcfd9a8686ff : 5.0
2020-01-14 : c6718d0e-976c-4d6c-b0e0-32c770776567 : 4.0
2020-01-15 : 603b8641-c6f6-4d89-ac89-88e50d45aa0d : 5.0
2020-01-16 : 2fa2ab62-f1b0-4036-872f-bcfd9a8686ff : 4.0
2020-01-17 : 696c838e-c054-4e9f-a51a-50bf5660f364 : 4.5
2020-01-18 : 43efce48-94b2-4412-857f-223d45969008 : 4.57
2020-01-19 : be676776-8366-4c71-8a35-d58014806eb5 : 4.5
2020-01-20 : 43efce48-94b2-4412-857f-223d45969008 : 4.5