In [1]:
import pandas as pd

In [6]:
data = pd.read_csv('hits.txt', sep='\t', header=None)

In [10]:
data.columns = ['host', 'ip', 'page']

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1247036 entries, 0 to 1247035
Data columns (total 3 columns):
host    1247036 non-null object
ip      1247036 non-null object
page    1247036 non-null object
dtypes: object(3)
memory usage: 28.5+ MB

In [14]:
data.head()

,host,ip,page
0,https://wikipedia.org,72.110.191.15,/friends/files
1,rambler.ru,142.93.168.247,/universe.php
2,ftp://info.itar-tass.com,90.68.118.69,/login/monitors/static/me
3,http://altavista.com,18.79.197.236,/friends/tasks/universe
4,ftp://tetrika-school.ru,115.26.250.226,/translate/anekdots/my-files/monday

In [17]:
#выведем уникальные значения столбца 'ip' и их количество, выведем пять, встречающихся наиболее часто
data['ip'].value_counts().head(5)

154.157.157.156    1531
82.146.232.163     1505
226.247.119.128    1494
194.78.107.33      1494
21.143.243.182     1479
Name: ip, dtype: int64